body {
    background-image: url("../img/bg.png");
    background-color: #cccccc;
}

section {
    margin: 4rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

img {
    display: block;
    margin: 1em auto;
    border-radius: 7px;
}

h2 {
    text-align: center;
}

h3 {
    display: inline;
}

p {
    text-align: center;
}

a {
    color: inherit;
}

.grid-x {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input[type=text] {
    position: absolute;
    left: -5000px;
}

.blink {
    color: red;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
 }
@keyframes blink-animation {
    to {
      visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
}
