body {
    background-image: url("../img/bg.png");
    background-color: #cccccc;
}

section {
    margin: 4rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
}

h2 {
    text-align: center;
}

h3 {
    display: inline;
}

p {
    text-align: center;
}

a {
    color: inherit;
}

.grid-x {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
