{% extends "layout.html" %}
{% block body %}
<section>
<div class="grid-x grid-margin-x">
    <div class="cell large-12">
        <h1>{{ this.title }}</h1>
    </div>
</div>
</section>

<section>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-6">
                <img src="{{ this.attachments.get('front.jpg').thumbnail(400)|url }}">
                <p class="label">Vorderseite</p>
            </div>
            <div class="cell large-6">
                <h2>{{ this.description }}</h2>
                {{ this.body }}
                {% if this.epubli or this.amazon %}
                <p>Kaufe das Büchlein auf:<br>
                    {% if this.epubli and this.epubli.url %}<a target="_blank" href="{{ this.epubli }}">epubli</a><br>{% endif %}
                    {% if this.amazon and this.amazon.url %} <a target="_blank" href="{{ this.amazon }}">amazon</a><br>{% endif %}
                </p>
                {% if this.isbn %}
                <p>ISBN: {{ this.isbn }}<br></p>
                {% endif %}
                <p>Die Büchlein werden erst <strong>bei Bestellung hergestellt</strong>. Das schont die Umwelt, ist jedoch leider etwas teurer!</p>
                {% endif %}
            </div>
        </div>
        {% if this.attachments.get('content.jpg') %}
        <div class="grid-x grid-margin-x">
            <div class="cell large-12">
                <img src="{{ this.attachments.get('content.jpg').thumbnail(900)|url }}">
                <p class="label">Beispieldoppelseite</p>
            </div>
        </div>
        {% endif %}
        <div class="grid-x grid-margin-x">
            <div class="cell large-6 small-order-1 large-order-2">
                <img src="{{ this.attachments.get('back.jpg').thumbnail(400)|url }}">
                <p class="label">Rückseite</p>
            </div>
            <div class="cell large-6 small-order-2 large-order-1">
                <h2>Details</h2>
                {{ this.details }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
