{% extends "layout.html" %}
{% block body %}
<section>
<div class="grid-x grid-margin-x">
    <div class="cell large-12">
        <h1>Alle Büchlein mit Schweinchen Hannes</h1>
    </div>
</div>
</section>

  {% for child in this.children %}
  <section>
      <div class="grid-container">
          <div class="grid-x grid-margin-x">
              <div class="cell large-6">
                  <a href="{{ child|url }}"><img src="{{ child.attachments.get('front.jpg').thumbnail(300)|url }}"></a>
              </div>
              <div class="cell large-6">
                  <h2><a href="{{ child|url }}">{{ child.title }}</a> {%if child.new %} <span class="blink">neu!</span>{% endif %}</h2>
                  <h3>{{ child.description }}</h3>
              </div>
          </div>
      </div>
  </section>
  {% endfor %}
{% endblock %}
