{% extends "layout.html" %}
{% block body %}
<section>
<div class="grid-x grid-margin-x">
    <div class="cell large-12">
        <h1>{{ this.title }}</h1>
    </div>
</div>
</section>

<section>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-6">
                <img src="{{ this.attachments.get('front.jpg').thumbnail(400)|url }}">
                <p class="label">Vorderseite</p>
            </div>
            <div class="cell large-6">
                <h2>{{ this.body }}</h2>
                {% if this.price %}
                <p>Möchtest Du das Büchlein für CHF {{ this.price }}.-? Dann schreib mir doch ein <a href="mailto:hannes@schweinchenhannes.ch">Mail</a>!</p>
                {% endif %}
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell large-12">
                <img src="{{ this.attachments.get('content.jpg').thumbnail(900)|url }}">
                <p class="label">Seiten 2 und 3</p>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell large-6 small-order-1 large-order-2">
                <img src="{{ this.attachments.get('back.jpg').thumbnail(400)|url }}">
                <p class="label">Rückseite</p>
            </div>
            <div class="cell large-6 small-order-2 large-order-1">
                <h2>Details</h2>
                {{ this.details }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
