{% extends "layout.html" %}
{% block body %}
<section>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-6">
                <img src="{{ '/static/img/hallo.png'|asseturl }}">
            </div>
            <div class="cell large-6">
                <h2>Hallo! Mein Name ist Hannes. Ich mach gerne lange Spaziergänge am Strand und mag Schokolade.</h2>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell large-6 small-order-1 large-order-2">
                <a href="{{ this.children.get('ein-jahr-mit-schweinchen-hannes').children.first()|url }}"><img src="{{ '/static/img/kaetzchen.png'|asseturl }}"></a>
            </div>
            <div class="cell large-6 small-order-2 large-order-1">
                <h2>Das hier ist Kätzchen, meine Katze. Sie spielt und schläft gerne. Bei uns läuft immer ziemlich viel, <a href="{{ this.children.get('ein-jahr-mit-schweinchen-hannes').children.first()|url }}">im Moment gerade das!</a></h2>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-6">
                <a href="{{ '/buechlein'|url }}"><img src="{{ '/static/img/reich.png'|asseturl }}"></a>
            </div>
            <div class="cell large-6">
                <h2>Ich bin ziemlich berühmt, denn mit mir gibt es bereits einige <a href="{{ '/buechlein'|url }}">Büchlein:</a></h2>
                <p>
                {% for child in this.children.get('buechlein').children.limit(6) %}
                <a href="{{ child|url }}">{{ child.title }}</a>{%if child.new %} <span class="blink">neu!</span>{% endif %}<br>
                {% endfor %}
                ... und viele mehr <a href="{{ '/buechlein'|url }}">[hier]</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-6 small-order-1 large-order-2">
                <a href="mailto:hannes@schweinchenhannes.ch"><img src="{{ '/static/img/post.png'|asseturl }}"></a>
            </div>
            <div class="cell large-6 small-order-2 large-order-1">
                <h2>Du kannst mir Post an <a href="mailto:hannes@schweinchenhannes.ch">hannes@schweinchenhannes.ch</a> schicken. Ich freu mich über jeden Brief!</h2>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell large-6">
                <a href="https://mastodon.art/@schweinchenhannes"><img src="{{ '/static/img/selfie.png'|asseturl }}"></a>
            </div>
            <div class="cell large-6">
                <h2>Besuch mich auf <a rel="me" href="https://mastodon.art/@schweinchenhannes">Mastodon</a>! Dort gibt es viele tolle Fotos von mir!</h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}
