<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Schweinchen Hannes - {{ this.title }}</title>
        <meta name="description" content="Schweinchen Hannes">
        <meta name="author" content="Valérie Bürgy, Marc Sommerhalder">
        <link rel="stylesheet" href="{{ '/static/css/foundation.min.css'|asseturl }}">
        <link rel="stylesheet" href="{{ '/static/css/main.css'|asseturl }}">
    </head>
    <body>
        <div class="grid-container">
            <a href="{{ '/'|url }}"><h1><img src="{{ '/static/img/hero.png'|asseturl }}" alt="Schweinchen Hannes" style="width: 50%; max-width: 468px;"></h1></a>
        </div>

        {% block body %}{% endblock %}

        <section>
            <div class="grid-container">
                <div class="grid-x grid-margin-x">
                    <div class="cell large-12">
                        <h4><a href="{{ '/ueber-uns'|url }}">© Marc Sommerhalder & Valérie Bürgy</a></h4>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
